.first-square{
    width: 10vw;
    height: 10vw;
    background: darkcyan;
}

.second-square{
    background-image: url(https://picsum.photos/id/237/200/300);
    width: 25vw ;
    height: calc(25vw / 2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.last-square{
    width: 500px;
    height: 500px;
    background-color: darkgrey;
}

.circle{
    width: calc((500px / 5) * 3 * 2);
    height: calc((500px / 5) * 3 * 2);
    background-color: darkred;
    border-radius: 50%;
}